name: Build CI
on:
  push:
    branches: master
  pull_request:
jobs:
  build:
    name: Build
    permissions:
      contents: read
      checks: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 24.x
        uses: actions/setup-node@v1
        with:
          node-version: 24.x

      - name: Test
        run: |
          npm install
          npm run cover-ci

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}